<% if flash[:message] %>
<%= flash[:message] %>
<% end %>

<h3>Log In</h3>

<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
<br>
  <%= label_tag :name %><br><br/ >
  <%= text_field_tag :name, nil, name: "user[name]" %><br><br/ >
  <%= label_tag :password %><br>
  <%= password_field_tag :password, nil, name: "user[password]" %><br>
  <%= submit_tag "Submit" %>
<% end %>
