<% if flash[:message] %>
<%= flash[:message] %>
<% end %>

<h1>Log In</h1>

<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
  <%= label_tag :name %>
  <%= text_field_tag :name, nil, name: "user[name]" %>
  <%= label_tag :password %>
  <%= password_field_tag :password, nil, name: "user[password]" %>
  <%= submit_tag "Submit" %>
<% end %>
