<h1>Create Your Cuisine!</h1>

<% form_for @cuisine do %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :category %>
  <%= f.text_field :category %>
  <%= f.label :classification %>
  <%= f.text_field :classification %>
  <%= f.submit %>
<% end %>  
