
<br><br />Category:<h2><%= @cuisine.category %></h2>

Classification:<h2><%= @cuisine.classification %></h2>

<%= link_to "#{@cuisine.classification} Meals", cuisine_meals_path(@cuisine) %><br></br>

Add a Meal to <%= "#{@cuisine.classification} Cuisine" %><br><br/>
<%= link_to "Create #{@cuisine.classification} Meal", new_cuisine_meal_path(@cuisine) %><br><br/ >

<% if current_user.cuisines.include?(@cuisine) %>
  <%= link_to "Edit #{@cuisine.classification} Cuisine", edit_cuisine_path %>
<% end %>
