
<br><br />Category:<h2><%= @cuisine.category %></h2>

Classification:<h2><%= @cuisine.classification %></h2>

Add a Meal to <%= "#{@cuisine.classification} Cuisine" %><br>
<%= link_to "Create Meal", "/attractions/meals/new" %><br><br/ >

<%= link_to "Edit Cuisine", edit_cuisine_path %>
