<center><h1>Edit User Profile</h1><center>

<center><%= image_tag "https://www.incimages.com/uploaded_files/image/970x450/getty_467176954_264026.jpg" %>

<%= form_for @user do |f| %>

<center>Email:<br><%= f.text_field :email %><br><br /><center>
<center>Username:<br><%= f.text_field :name %><br><br/><center>
<center>Years Experience:<br><%= f.number_field :years_experience %><br><br/><center>
<center>Location:<br><%= f.text_field :location %><br><center>
<%= f.submit %>
<% end %>
