<% if @user.errors.any? %>
<%= @user.errors.full_messages.to_sentence %>
<% end %>

<center><i><h1>Create Your Profile on Cuisine Curator</h1><i><center>

<center><%= image_tag "https://res-3.cloudinary.com/simpleview/image/upload/c_fill,f_auto,h_800,q_50,w_1600/v1/clients/anchorage/cioppino-jack-sprat-jodyo.photo_472d23ad-eceb-42a1-82d9-00f89cbbe587.jpg" %><center><br>

<%= form_for @user do |f| %>

Stay in the loop! Receive Email Updates!<br>
<%= f.text_field :email %><br><br />

<%= f.label :username %><br>
<%= f.text_field :name %><br><br />

<%= f.label :password %><br>
<%= f.password_field :password %><br><br />

<%= f.label :confirm_password %><br>
<%= f.password_field :password_confirmation %><br><br />

How many years have you been cooking?<br>
 <%= f.number_field :years_experience %><br><br />

Tell us where you're from!<br>
<%= f.text_field :location %><br><br />

<%= f.submit %>
<% end %>
