<% if @user.errors.any? %>
<%= @user.errors.full_messages.to_sentence %>
<% end %>

<h1>Create Your Profile on Cuisine Curator</h1>

<%= form_for @user do |f| %>

Stay in the loop! Receive Email Updates!<br>
<%= f.text_field :email %><br><br />

<%= f.label :username %><br>
<%= f.text_field :name %><br><br />

<%= f.label :password %><br>
<%= f.password_field :password %><br><br />

How many years have you been cooking?<br>
 <%= f.number_field :years_experience %><br><br />

Tell us where you're from!<br>
<%= f.text_field :location %><br><br />

<%= f.submit %>
<% end %>
