<h2>Welcome, <%= @user.name %>. Let's start cooking!</h2>

<strong>Your Years of Experience: <strong><h3><%= @user.years_experience %></h3><strong><br><br/ >
<strong>Your location<strong><h3><%= @user.location %></h3><strong><br><br/>

<h3>Search existing cuisines!</h3>
<i><%= link_to "Search Cuisines", cuisines_path %><br><br/ ></i>

<h3>Create Your Curated Cuisine Collection</h3>
<i><%= link_to "Create Cuisine", new_cuisine_path %></i>
