
<form action="/rated_meals" method="get">
 <input type="number" name="rating">
 <input type="hidden" id="cuisine_id" name="cuisine_id" value=<%= @cuisine.id %>/>
 <input type="submit" name="Submit">
</form>




<span style="text-decoration: underline;"><center><h1><%= current_user.name %>'s <%= @cuisine.classification %> Meals</h1></center></span>

<% if @meals.length < 1 %>
  <h3>Sorry, there are no meals with this rating.</h3>
<% else %>
  <% @meals.each do |meal| %>
    <center><strong><li><%= link_to meal.name, cuisine_meal_path(@cuisine, meal) %></li><br></center></strong>
    <center><strong>Rating: <%= meal.rating %>/10<br></center></strong><br>
  <% end %><br>
<% end%>

<center><strong><li><%= link_to "Add a New Meal", new_cuisine_meal_path(@cuisine) %></li><br></strong></center>
<center><strong><li><%= link_to "Back to #{@cuisine.classification} Cuisine", cuisine_path(@cuisine) %></li><center><strong>
