
<span style="text-decoration: underline;"><center><h1><i><%= current_user.name %>'s <%= @cuisine.classification %> Meals</i></h1></center></span>

<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>

<% if @cuisine.classification == "Italian" %>
  <center><%= image_tag "https://cdn.websites.hibu.com/533c448531fc412eb9cff9ae03178687/dms3rep/multi/mobile/small-3.jpg" %><center>
<% elsif @cuisine.classification == "Slovak" %>
  <center><%= image_tag "http://bratislavafoodtours.com/wp-content/uploads/2016/12/slovak-soup-kapustnica.jpg" %><center>
<% elsif @cuisine.classification == "Mediterranean" %>
  <center><%= image_tag "https://www.telegraph.co.uk/content/dam/Travel/Cruise/Mediterraneancruisesafirsttimecruisersguide/iStock-638935928-med_cropped-xlarge.jpg" %><center>
<% elsif @cuisine.classification == "Central Asian" %>
  <center><%= image_tag "https://www.wildernesstravel.com/images/trips/asia/kazakstan/central-asia-explorer/2-slide-central-asia-kazakhstan-silk-road-yurt-pano.jpg" %><center>
<% elsif @cuisine.classification == "Russian" %>
  <center><%= image_tag "https://www.telegraph.co.uk/content/dam/Travel/Destinations/Europe/Russia/st-petersburg/St-Petersburg-nighttime-cropped-xlarge.jpg" %><center>
<% end %><br>

<% if @meals.length < 1 %>
  <h3>Sorry, there are no meals with this rating.</h3>
<% else %>
  <% @meals.each do |meal| %>
    <center><strong><b><%= link_to meal.name, cuisine_meal_path(@cuisine, meal) %><br></b></center><strong><br>
    <center><strong>Rating: <%= meal.rating %>/10<br></center><strong><br>
  <% end %>
<% end%>


<center><strong><%= link_to "Add a New Meal", new_cuisine_meal_path(@cuisine) %><br></br></strong></center>
<center><strong><%= link_to "Back to #{@cuisine.classification} Cuisine", cuisine_path(@cuisine) %><center><strong><br><br/ >

  Search Meals by Rating(1 to 10):
  <form action="/rated_meals" method="get">
   <input type="number" name="rating">
   <input type="hidden" id="cuisine_id" name="cuisine_id" value=<%= @cuisine.id %>/>
   <input type="submit" name="Submit">
  </form><br>

  <center>What's for Dinner? Type 'Dinner' to find out!<center>
  <form action="/for_dinner" method="get">
    <input type="text_area" name="course">
    <input type="hidden" id="cuisine_id" name="cuisine_id" value=<%= @cuisine.id %>/>
    <input type="submit" name="Submit">
  </form><br>
