<h1>Your <%= @cuisine.classification %> Meals</h1>

<% @meals.each do |meal| %>
  <li><%= link_to meal.name, cuisine_meal_path(@cuisine, meal) %></li>
  Name: <%= meal.name %>
  Course: <%= meal.course %>
  Difficulty: <%= meal.difficulty %>/5
  Rating: <%= meal.rating %>/10
  Prep Time: <%= meal.prep_time %> mins.
  Notes: <%= meal.notes %>
  Ingredients: <%= meal.ingredients %>
<% end %>

<li><%= link_to "Back to #{@cuisine.classification} Cuisine", cuisine_path(@cuisine) %></li>
<li><%= link_to "Add a New Meal", new_cuisine_meal_path(@cuisine) %></li>
