<span style="text-decoration: underline;"><center><h1>Your <%= @cuisine.classification %> Meals</h1></center></span>

<% @meals.each do |meal| %>
  <center><strong><li><%= link_to meal.name, cuisine_meal_path(@cuisine, meal) %></li><br></center></strong>
  <center><strong>Rating: <%= meal.rating %>/10<br></center></strong><br>
<% end %><br>

<center><strong><li><%= link_to "Add a New Meal", new_cuisine_meal_path(@cuisine) %></li><br></strong></center>
<center><strong><li><%= link_to "Back to #{@cuisine.classification} Cuisine", cuisine_path(@cuisine) %></li><center><strong>
