<i><span style="text-decoration: underline;"><center><h1><%= @meal.name %></h1></center></span></i>

<% if @meal.name == "Halushki" %>
  <center><%= image_tag "http://images.media-allrecipes.com/userphotos/720x405/2490873.jpg" %></center>
<% elsif @meal.name == "Spaghetti and Meatballs" %>
  <center><%= image_tag "https://smittenkitchendotcom.files.wordpress.com/2019/03/perfect-spaghetti-and-meatballs.jpg?w=1200" %><center>
<% elsif @meal.name == "Pizza" %>
  <center><%= image_tag "http://c06352e9238d9d2a61cb-8a886d762570dee9ec4262596df361b5.r49.cf1.rackcdn.com/wp-content/uploads/Easy-Artisan-Pizza-Horizontal-Hero-Shot-Pizza.jpg" %><center>
<% elsif @meal.name == "Shrimp Scampi" %>
  <center><%= image_tag "https://mmurphy65.files.wordpress.com/2013/08/easy-shrimp-scampi.jpg" %><center>
<% elsif @meal.name == "Goulash" %>
  <center><%= image_tag "https://www.connoisseurusveg.com/wp-content/uploads/2017/01/eggplant-goulash-fb.jpg" %><center>
<% elsif @meal.name == "Perogi" %>
  <center><%= image_tag "https://d2gk7xgygi98cy.cloudfront.net/1750-4-facebook.jpg" %><center>
<% elsif @meal.name == "Mediterranean Bean Salad" %>
  <center><%= image_tag "https://dish-environment-prod-contentbucket-10u8bszryovz3.s3.amazonaws.com/assets/s3fs-public/styles/content_image_x_large/public/1075688_Mediterranean-Bean-Salad_-72230-_-Photo-by-naples34102-1.jpg?itok=AfgBJY6S" %><center>
<% elsif @meal.name == "Scallops Provencale" %>
  <center><%= image_tag "https://dish-environment-prod-contentbucket-10u8bszryovz3.s3.amazonaws.com/assets/s3fs-public/styles/content_image_x_large/public/275599_Scallops-Provencale_82486-_Photo-by-naples34102-1.jpg?itok=zTbjnDcv" %><center>
<% elsif @meal.name == "Barley Soup" %>
  <center><%= image_tag "https://dish-environment-prod-contentbucket-10u8bszryovz3.s3.amazonaws.com/assets/s3fs-public/styles/content_image_x_large/public/364487_Beakers-Vegetable-Barley-Soup_-78052-_-Photo-by-CCloves2bake.jpg?itok=M8iwuomo" %><center>
<% elsif @meal.name == "Pelmeni" %>
  <center><%= image_tag "http://www.olgasflavorfactory.com/wp-content/uploads/2012/01/IMG_5903-1024x672.jpg" %><center>
<% elsif @meal.name == "Kotleti" %>
  <center><%= image_tag "http://i2.wp.com/www.russianfilipinokitchen.com/wp-content/uploads/2015/11/Chicken-Kotleti-Russian-style-Meatballs-01.jpg?resize=600%2C399" %><strong>
<% elsif @meal.name == "Borscht" %>
  <center><%= image_tag "http://images.media-allrecipes.com/userphotos/960x960/3757019.jpg" %><center>
<% elsif @meal.name == "Plov" %>
  <center><%= image_tag "https://jakhongirshaturaev.files.wordpress.com/2013/07/uzbek-plov.jpg" %><center>
<% elsif @meal.name == "Beshbarmak" %>
  <center><%= image_tag "https://i2.wp.com/foodperestroika.com/wp-content/uploads/2015/11/Beshbarmak4-small.jpg" %>
<% elsif @meal.name == "Qazi" %>
  <center><%= image_tag "https://caspiannews.com/media/caspian_news/all_original_photos/1503296503_8959117_1503296432_6525435kazy.jpg" %><center>
<% end %>

<center><h3><%= @meal.description %></h3></center>
<center><h3>Course: <%= @meal.course %></h3></center>
<center><h3>Difficulty Level: <%= @meal.difficulty %></h3></center>
<center><h3>Rating: <%= @meal.rating %></h3></center>
<center><h3>Prep Time: <%= @meal.prep_time %> minutes</h3></center>
<center><h3>Ingredients: <%= @meal.ingredients %></h3><center>
<center><h3>Notes: <%= @meal.notes %></h3><center>





<% Meal.sorted_by_rating %>


<% if current_user.meals.include?(@meal) %>
  <center><%= link_to "Edit Meal", edit_meal_path %></center>
<% end %><br>

<center><%= link_to "Back to Meals", cuisine_meals_path(@cuisine) %></center><br>

<%# if current_user.meals.include?(@meal) %>
  <%#= button_to "Delete Meal", meal_path(@meal), :method =>"delete"  %>
<%# end %>


<center><%= link_to "Delete Meal", { action: "destroy", cuisine_id: @cuisine.id, id: @meal.id },
    method: :delete, data: { confirm: "Are you sure?" } %></center>
