<!DOCTYPE html>
<html>
  <head>
    <title>CuisineCuratorApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- <div class='col-xs-3'> -->
    <strong><a class="navbar-brand" href="<%= root_url %>"/>Home</a></strong>
    <strong><a class="navbar-brand" href="<%= login_path %>"/>Log In</a></strong>
    <strong><a class="navbar-brand" href="<%= new_user_path %>"/>Sign Up</a></strong>
    <strong><%= link_to "Sign Out", signout_path, method: "delete" %></strong>
    <!-- </div> -->
    <%= yield %>


  </body>
</html>
