<!DOCTYPE html>
<html>
<!-- Latest compiled and minified CSS -->
  <head>


    <title>CuisineCuratorApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- <div class='col-xs-3'> -->
    <% if current_user %>
      <strong><%= link_to "Home", root_url, {class: "navbar-brand"} %></strong>
      <strong><%= link_to "Cuisines", cuisines_path, {class: "navbar-brand"} %></strong>
      <strong><%= link_to "Sign Out", signout_path, {class: "navbar-brand", method: "delete"} %></strong>
    <% else %>
      <strong><%= link_to "Log In", login_path, {class: "navbar-brand"} %></strong>
      <strong><%= link_to "Sign Up", new_user_path, {class: "navbar-brand"} %></strong>
      <strong><%= link_to "Sign in With Google!", '/auth/google_oauth2/callback', {class: "navbar-brand"} %></strong>
      <strong><%= link_to "Home", root_url, {class: "navbar-brand"} %></strong>
    <% end %>



    <%= yield %>




  </body>
  <h3>This is a Michael J. Schiumo™ production.</h3>
</html>
